@use "../abstracts/mixins" as m;

.section {
    @include m.dflex(column, nowrap, space-between, center, 2rem);
    padding: 3rem 0px 8% 0px
}

@media screen and (max-width: 1200px) {
    iframe{
        border: 0;
        width: 500px;
        height: 400px;
    }  
}