@use "../abstracts/mixins" as m;

.section {
    @include m.dflex(column, nowrap, space-between, center, 2rem);
    padding: 3rem 0px 8% 0px
}

.text-video{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

iframe{
    position: relative;
    left: 50%;
    top: 250px;
    transform: translate(-50% , -50%);
}

@media screen and (max-width: 1200px) {
    iframe{
        border: 0;
        width: 500px;
        height: 400px;
    }  
}