.history{
    padding-bottom: 50px;
}
p{
    font-family: "Merienda" , cursive;
}

@media screen and (max-width: 1200px) {
    .text-history{
        text-align: center;
    }

    .img-history{
        display: flex;
        justify-content: center;
    }
}