* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #15131B !important;
}

h2 {
    width: fit-content;
    font-family: "New Rocker", system-ui;
    color: #F0F0F0;
    padding-bottom: 1rem;
    border-bottom: 3px solid #688FA4 !important;
}