* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #15131B !important;
}

h2 {
    font-family: "New Rocker", system-ui;
    color: #fff;
    padding: 2rem;
    border-bottom: 5px #688FA4;
}